@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1676845578082-2e08e7c359b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}


.container{
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-header{
    margin-bottom: 3rem;
    font-size: 30px;
    text-align: center;
    color: #393939;
}

.login-form-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-form-content .form-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: 2rem;
}

.login-form input[type="text"],
.login-form input[type="password"]{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.money input:focus{
    background: white;
}

.login-form button{
    background: #313131;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    text-align: center;
}

.login-form button:hover{
    background-color: #000000;
    cursor: pointer;
}

.info{
    width: 50px;
}

.item-cheild {
    text-align: center;
}